<div class="row border border-2 mb-3">
  <script>
    const emptyHeart = "/img/heart_empty.png";
    const filledHeart = "/img/heart_filled.png";
    const hover = (element) => {
      const elementSrc = element.getAttribute("src");
      if (elementSrc == emptyHeart) {
        element.setAttribute("src", filledHeart);
      } else {
        element.setAttribute("src", emptyHeart);
      }
    };
  </script>
  <div class="col">
    <h2>District</h2>
    <div class="container text-center">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="row g-0">
              <div class="col-md-4 my-auto">
                <img src="<%= data.map %>" class="img-fluid p-1 rounded"
                alt="map of <%=district ? district : "district"%>" />
              </div>
              <div class="col-md-7">
                <div class="card-body text-start">
                  <h5 class="card-title"><%=district%></h5>
                  <p class="card-text">
                    <b>Median Income: </b><%=data.income.slice(0,-3) == "[1]" ?
                    data.income.slice(0,-3) : data.income%>
                  </p>
                  <p class="card-text">
                    <b>Population:</b> <%=data.population%>
                  </p>
                  <a
                    href="https://en.wikipedia.org/wiki/<%= encodeURIComponent(district) %> "
                    >Wikipedia Page</a
                  >
                </div>
              </div>
              <div class="col-md-1 mx-auto">
                <div class="card-body text-start">
                  <a href="#">
                    <img src="<%= user.districts.includes(district) ?
                    "/img/heart_filled.png" : "/img/heart_empty.png" %> "
                    alt="heart" width="20" height="20" onmouseover="hover(this)"
                    onmouseout="hover(this)" /></a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
