<%- include("partials/header", {title: "Profile"}) %>
<div>
  <h1><%=user.name%>'s Profile</h1>
  <% if(user.reps?.length > 0){%>
  <h2>Favorite Representatives</h2>
  <% user.reps.forEach((rep)=>{%>
  <p><%=rep%></p>
  <%}) %> <% } %> <% if(user.districts?.length > 0){%>
  <h2>Favorite Districts</h2>
  <% user.districts.forEach((district)=>{%>
  <p><%= district %></p>
  <%}) %> <% } %>
</div>

<%-include("partials/footer") %>
