<%- include("partials/header", {title: "Search Results"}) %>

<div class="row">
  <div class="col-1">
    <a href="/" class="link-dark text-decoration-none">
      <img src="/img/back.svg" alt="back button" width="30" />Search
    </a>
  </div>
  <div class="col">
    <h1>Search results for <%= zipcode%></h1>
  </div>
</div>

<div class="container text-center pt-2">
  <!-- Districts in Zip Code -->
  <%- include("partials/districts", {data: districtData, district: district,
  user:user}) %>
  <!-- Congressmen -->
  <%- include("partials/congressmen", {reps:reps, senators:senators, zipcode:
  zipcode, user: user}) %>
</div>
<%- include("partials/footer") %>
